## Import pandas library

In [4]:
import pandas as pd

## Import data from url into pandas.

In [76]:
data =pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

### Create a pandas dataframe. Note the table with the postal codes is the first table (data[0]). the first 5 rows are shown below.

In [77]:
df=pd.DataFrame(data[0])
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Dropping all rows where the value in the column 'Borough' is equal to 'Not assigned' and displaying 5 rows from the result set.

In [78]:
df = df.drop(df[df.Borough =='Not assigned'].index)
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

## updating all values in the 'Neighbourhood' column that is equal to 'Not assigned', with the values in the 'Borough' column. The values before and after the update are shown below.

####  Values before the update

In [79]:
df.loc[df['Neighbourhood']=='Not assigned']

  Postcode       Borough Neighbourhood
7      M7A  Queen's Park  Not assigned

####  Values  after the update

In [81]:
df.loc[df['Neighbourhood'] =='Not assigned', 'Neighbourhood'] = df['Borough']
df.loc[df['Postcode']=='M7A']

  Postcode       Borough Neighbourhood
7      M7A  Queen's Park  Queen's Park

## the code below groups the dataframe by  Postcode and Borough, then join the neighborhoods with a comma separation.

In [65]:
df = df.groupby(["Postcode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

## The code below shows the number of rows and columns in the dataframe

In [67]:
df.shape

(103, 3)